@font-face {
 font-family: 'Roboto Medium';
 src: local('Roboto Medium'), local('Roboto-Medium'),
   url('./Roboto/Robotomedium/RobotoMedium.woff2') format('woff2'),
   url('./Roboto/Robotomedium/RobotoMedium.woff') format('woff'),
   url('./Roboto/Robotomedium/RobotoMedium.ttf') format('truetype');
 font-weight: 500;
 font-style: normal;
}

@font-face {
  font-family: 'Roboto';
  src: local('Roboto'), local('Roboto'),
    url('./Roboto/Roboto/Roboto.woff2') format('woff2'),
    url('./Roboto/Roboto/Roboto.woff') format('woff'),
    url('./Roboto/Roboto/Roboto.ttf') format('truetype');
  font-weight: 400;
  font-style: normal;
 }