@import url('/style/reset.css');
@import url('/style/fonts.css');

body {
  font-family: 'Roboto Medium';
  font-size: 20px;
}

button,
input {
  font-family: 'Roboto Medium';
}

#root {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}